
border-radius()
	border-radius: arguments

body
	display: flex
	margin: 0
	font: 12px Helvetica, Arial, sans-serif

a.button
	border-radius(5px)

#gl_canvas
	position: fixed

#content
	margin: 0 auto;
	padding: 1em
	z-index: 5
	background-color: rgba(0,0,0,0.5)
	color: #ddd
